
h1 {
  text-align: center;
}

.current-user-message {
  color: blue;
  text-align: right;
}


#scroll-messages{
  height: calc(75vh);
  overflow-y: scroll;

}

#new{
  height: calc(60vh - 200px);
  overflow-y: scroll;

}

.old_message {
  color:black;
}

.new_message {
  color:blue;
  font-size:bold;
}
