<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html>
  <head>
    <meta charset="utf-8">
    <title>WebChat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/master.css'%}"/>
  </head>
  <script src="https://code.jquery.com/jquery-3.5.1.js"integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="https://image.flaticon.com/icons/png/512/1453/1453729.png" width="30" height="30" class="d-inline-block align-top" alt="">
          WebChat
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
      <div class="navbar-nav">

                {% if user.is_authenticated %}
                <li><a class="nav-item nav-link active ">You're logged in as: {{user.username}}</a></li>
                <li><a href="{% url 'accounts:logout' %}" class="nav-item nav-link active">Log out</a></li>
                {% else %}
      					<li><a href="{% url 'accounts:login' %}" class="nav-item nav-link active ">Log in</a></li>
      					<li><a href="{% url 'accounts:signup' %}" class="nav-item nav-link active ">Sign up</a></li>
                {% endif %}

    					</ul>

            </div>
          </div>
          </div>
    	</nav>

        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
<script>

// just a quick js option to make autosearch after 1,5s after the end of typing
$(document).ready(function(){
  var searchForm = $(".search-form")
  var searchInput = searchForm.find("[name='q']")
  var typingTimer;
  var typingInterval = 1500

  searchInput.keyup(function(event){
    clearTimeout(typingTimer)
    tyingTimer = setTimeout(performSearch, typingInterval)
  })

  searchInput.keydown(function(event){
    clearTimeout(typingTimer)
  })

  function performSearch(){
  var query = searchInput.val()
  $.ajax({
      url : "/search/?q="+query,
      type : "GET",
      data : {'search': query},
      success : function(json) {
          searchResults(json['chats'], json['chatUserList'], json['all_users'])
          },
          error : function(xhr,errmsg,err) {
              console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      });
    }
  });

function searchResults(chats, chatUserList, all_users){
  var contentPlace = $('.search-results-field');
  contentPlace.empty();
  for(var user of all_users){
    if (user.id in chatUserList){
    contentPlace.append(`<div class='messages_recent'><a style='color:white' href = /chat/${chatUserList[user.id]}><p class='search-results'> ${user.username} </p></a></div>`);
} else{
    contentPlace.append(`<div class='messages_recent'><a style='color:white' href = /chat/create/${user.id}><p class='search-results'> ${user.username} - You haven't spoken yet! </p></a></div>`);
}
}}


</script>

  </body>
</html>
