{% extends "base.html" %}
{% block content %}
{% load bootstrap4 %}

    <div class="row row-cols-3">

    <div class="col-4 ">
    <h3>Recent chats</h3>
    <div class="recent-messages-place">


    <div class="old-messages-place">

    </div>
    </div>

    </div>
    <div class="col-4">
    <h3>Unread messages</h3>
    <div class="recent-messages-place">

    </div>
    <div class="new-messages-place">

    </div>
    </div>

    <div class="col-3">
    <h3>Find users:</h3>
    {% include 'WebChat/search.html' %}
    </div>

    </div>



<script>



let newMessagesUpdate = () => {
  $.ajax({
    url: '',
    method: 'GET',
    data: {},
    success: (json)=>{
      newMessages(json['unreadChats'],json['usersId'], json['chat_info'], json['readChats'], json['readChatsinfo']);
    }
  })

}


let newMessages = (unreadChats, users_id, chat_info, readChats, readChatsinfo) =>{
  let contentPlace = $('.new-messages-place');
  let oldMessagesPlace = $('.old-messages-place');
  contentPlace.empty();
  oldMessagesPlace.empty();
  var j = 0
  for (var i of unreadChats){
    contentPlace.append(`<div class = 'new_messages_recent'><h4>Chat with: ${users_id[chat_info[j][i][0]]}</h4><a href='chat/${i}/' id=''><p style='color:black; font-size: 1.5rem;' class = 'new-message'>  ${users_id[chat_info[j][i][0]]} wrote: ${chat_info[j][i][1]} </p></a></div>`);
    j++;
  };
  j=0
  for (var i of readChats){

  if (readChatsinfo[j][i].length == 2 ){
      console.log(readChatsinfo[j][i])
    oldMessagesPlace.append(`<div class = 'messages_recent'><h4>Chat with: ${users_id[readChatsinfo[j][i][0]]}</h4><a href='chat/${i}/'><p style='color:black' class = 'new-message'> ${users_id[readChatsinfo[j][i][0]]} wrote: ${readChatsinfo[j][i][1]}  </p></a></div>`);
  } else{
    oldMessagesPlace.append(`<div class = 'messages_recent'><h4>Chat with: ${users_id[readChatsinfo[j][i][2]]}</h4><a href='chat/${i}/'><p style='color:black' class = 'new-message'> You wrote: ${readChatsinfo[j][i][1]}  </p></a></div>`);
  }
  j++;
  }
  };



$(document).ready(function(){
  window.setInterval(()=>{newMessagesUpdate()}, 1500)
})


</script>




{% endblock %}
